<div id="gh-comments">
  <h3>COMMENTS</h3>
  <div id="gh-comments-list"></div>
  <a href="javascript:void(0)" id="gh-load-comments" class="btn" style="display:none"><i class="fa fa-comments-o" aria-hidden="true"></i> Load more comments</a>
</div>

<script type="text/javascript" src="/assets/js/github-comments.js"></script>
<script type="text/javascript">
  {% if page.comment_id %}
    load_github_comments( "{{ site.repo_name }}", {{ page.comment_id }} );
  {% else %}
    load_github_comments( "{{ site.repo_name }}" );
  {% endif %}
</script>