
.link {
  display: inline-block;
  padding-bottom: .08em;
  border-bottom: 2px solid $light-gray-color;

  //@include transition(border 300ms linear);
  -webkit-transition: border 300ms linear;
          transition: border 300ms linear;

  &:hover,
  &:focus,
  &:active {
    border-color: darken($light-gray-color, 10%);
  }
}

.navbar {
  margin: 0;
  position: relative;
  padding: 0;
  pointer-events: all;
  cursor: pointer;
  font-size: 1rem;

  li {
    display: inline-block;
    padding: 0 .6em;
  }

  a {
    @extend .link;
    text-decoration: none;
  }
}

@media (min-width: 48em) {
  .navbar {
    float: right;
  }
}