/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */
 
/*.page,*/
.post {
    margin-bottom: 4em;

    @media (min-width: 38rem) {
        font-size: .9rem;

        h1 { font-size: 1.8rem; }
        h2 { 
            margin: 2em 0 1em 0;
            /*font-size: 1.3rem; */
        }
        h3, h4, h5, h6 {
            margin: 2em 0 1em 0;
            /*font-size: 0.8rem;*/
        }
    }

    /* Blog post or page title */  
  .page-title,
  .post-title {
    color: #303030;
    margin-top: 0;
  }

  .post-title a {
    @if $theme-color != $default {
      color: $theme-color; 
    } @else {
      color: #303030;
    }
  }

  /* Meta data line below post title */
  .post-date {
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
  }

  .post-more {
    margin-top: .5em;
    text-align: right;
    .fa{
      margin-right: .2em;
    }
  }

  article {
    line-height: 1.4rem;
  }
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*border-top: 1px solid #eee;*/
  border-top: 0px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  @if $theme-color != $default {
    color: $theme-color;
  } @else {
    color: #268bd2;
  }
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

.disclaimer {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 1rem;
  font-size: .8rem;
  font-style: italic;
  background: #fbfbfb;
}

.disclaimer p {
  padding: 0;
  margin: 0
}