/* Colors 
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */
$red:      #ac4142;
$orange:   #d28445;
$yellow:   #f4bf75;
$green:    #90a959;
$cyan:     #75b5aa;
$blue:     #6a9fb5;
$magenta:  #aa759f;
$brown:    #8f5536;
$default:  #505050;

$green2:    #1E9F75;
$green3:    #5CB85C;
$black2:    #222222;
$orange2:   #DD8338;
$red2:      #C64537;
$blue2:     #308CBC;

$white:      #fff;
$lightgrey:  #eee;
$black:      #000;