#gh-comments {
  //text-align: center;
  /*border-top: 1px solid #eee;*/
  font-size: .9rem;
  //padding-bottom: 2rem;
  //padding-top: 1rem;
}

#gh-comment {
  text-align: left;
  /*color:#FFF;
  background-color:#272822;*/
  //border:1px solid #b3b3b3;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  /*margin:2.5em 0;*/
  margin:2em 0;
  //padding:10px;
}

#gh-comment-hr {
  border-top: inset 1px white;
  margin: 8px 0px;
}

#gh-comment p {
  margin:0px;
}

#gh-comment img {
  display: inline;
  vertical-align: middle;
  margin: 2px 10px 2px 2px;
}